@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --fonte: "Raleway", sans-serif;
  --size: 1.3rem;
  --radius: 15% 35%;
  --gradient: linear-gradient(214deg, #00FF85 6.04%, #0085FF 92.95%);
  --gradient-hover: linear-gradient(214.02deg, #0085FF 6.04%, #00FF85 92.95%);
  --bg: linear-gradient(113.49deg, #444C4D -30.3%, #111113 58.12%);
  --null: linear-gradient(228.74deg, #949393 0%, #1F1E1E 84.9%);
  --null-invert: linear-gradient(45deg, #FFFFFF 0%, #8D8D8D 100%);
  --solid-100: #ffffff;
  --solid-50: #ffffff80;
  --solid-30: #ffffff4d;
}

/*
.light:root {
  --gradient: linear-gradient(214.02deg, #ff6600 6.04%, #FFFF00 92.95%);
  --gradient-hover: linear-gradient(214.02deg, #FFFF00 6.04%, #ff6600 92.95%);
  --bg: linear-gradient(45deg, #FFFFFF 0%, #8D8D8D 100%);
  --null: linear-gradient(228.74deg, #D9D9D9CC 0%, #757575CC 84.9%);
  --invert: linear-gradient(113.49deg, #444C4D -30.3%, #111113 58.12%);

  --solid-100: #000000;
  --solid-50: #00000080;
  --solid-30: #0000004d;
}
*/
@keyframes pulse {
  50% {
    transform: scale(1.1);
    color: var(--solid-100);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: 0.3s ease;
  cursor: default;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Raleway";
  font-size: var(--size);
  background: var(--bg);
  color: var(--solid-100);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--cores-30);
}

body::-webkit-scrollbar-thumb {
  background: var(--gradient);
  border-radius: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: var(--cores-30);
}
.switch input:checked + .slider:before {
  background: var(--gradient);
}
.switch input:hover {
  background: var(--gradient-hover);
}
.switch input:focus + .slider {
  box-shadow: inset 0 0 5px black;
}
.switch input:checked + .slider:before {
  transform: translateX(26px);
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--cores-30);
  transition: 0.4s;
  border-radius: 34px;
  box-shadow: inset 0 0 5px black;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: var(--gradient);
  border-radius: 50%;
  transition: 0.4s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 1%;
}
header h1 {
  background: var(--gradient);
  display: grid;
  place-items: center;
  height: 50px;
  width: 50px;
  border-radius: var(--radius);
  color: var(--solid-100);
  font-size: calc(var(--size) * 1.8);
  font-weight: 600;
}
header h1:hover {
  background: var(--gradient-hover);
}
header .fa-bars,
header .fa-xmark {
  font-size: calc(var(--size) * 2);
  z-index: 1;
}
header .fa-bars:hover,
header .fa-xmark:hover {
  filter: invert(0.5);
}
header .contato {
  display: none;
}
header nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--bg);
  height: 100vh;
  width: 50vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
}
header nav ul li a {
  position: relative;
  color: var(--solid-100);
  text-decoration: none;
}
header nav ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0%;
  bottom: 0%;
  background-color: currentColor;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.57, -0.02, 0.31, 0.71);
}
header nav ul li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: left;
  color: currentColor;
}

main {
  width: 90%;
  margin: auto;
  padding: 1%;
}
main section {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  gap: 15px;
}
main h2 {
  text-align: center;
  font-size: calc(var(--size) * 1.5);
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: auto;
  cursor: pointer;
}
main h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0%;
  bottom: 0%;
  background-color: currentColor;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.57, -0.02, 0.31, 0.71);
}
main h2:hover:before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: center;
  color: currentColor;
}
main #home .home_txt h2 {
  font-size: calc(var(--size) * 3);
  text-align: left;
  text-transform: none;
  margin: 0;
  cursor: default;
}
main #home .home_txt h2:hover:before {
  visibility: hidden;
}
main #home .home_txt h2 span {
  cursor: default;
}
main #home .home_txt p {
  margin: 10px auto;
}
main #home .home_txt span {
  display: block;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  cursor: pointer;
}
main #home .home_txt span:hover {
  background: var(--gradient-hover);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
main #home .home_img {
  display: none;
}
main #redes {
  display: none;
}
main #sobre .sobre_img {
  background: url(../imgs/bordas.svg) no-repeat;
  background-size: cover;
}
main #sobre .sobre_img .sobre_img_inner {
  background: var(--null-invert);
  border-radius: var(--radius);
  width: 100%;
  aspect-ratio: 1/1;
  margin: auto;
}
main #sobre .sobre_txt {
  display: flex;
  flex-direction: column;
}
main #sobre .sobre_txt h2 {
  font-size: calc(var(--size) * 1.5);
  font-weight: bold;
  text-transform: none;
}
main #sobre .sobre_txt p {
  margin: 10px auto;
}
main #sobre .sobre_txt span {
  background: var(--gradient);
  border-radius: 8px 16px;
  width: 50%;
  align-self: flex-end;
  aspect-ratio: 4/1;
  font-size: calc(var(--size) * 1.25);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  cursor: pointer;
}
main #sobre .sobre_txt span:hover {
  transform: scale(1.05);
  background: var(--gradient-hover);
  font-weight: bolder;
}
main #know .carousel-inner .active {
  z-index: 1;
}
main #know .carousel-inner .carousel-item,
main #know .carousel-inner .active {
  background: var(--gradient);
  border-radius: 10%;
  width: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  padding: 5%;
  grid-template-rows: repeat(3, 33.3%);
}
main #know .carousel-inner .carousel-item i,
main #know .carousel-inner .active i {
  font-size: calc(var(--size) * 4);
}
main #know .carousel-inner .carousel-item h3,
main #know .carousel-inner .active h3 {
  font-size: calc(var(--size) * 1.5);
  font-weight: bold;
  text-align: center;
}
main #know .carousel-inner .carousel-item p,
main #know .carousel-inner .active p {
  font-size: calc(var(--size) * 1);
  text-align: center;
}
main #lvl h2 {
  font-size: calc(var(--size) * 1.5);
  text-align: center;
  font-weight: bold;
}
main #lvl .cards_lvl {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
main #lvl .cards_lvl .cards_lvl_inner {
  background: var(--null);
  width: 100%;
  aspect-ratio: 5/1;
  border-radius: 10px 30px;
  position: relative;
}
main #lvl .cards_lvl .cards_lvl_inner:nth-child(1) .cards_lvl_reach {
  width: 80%;
}
main #lvl .cards_lvl .cards_lvl_inner:nth-child(2) .cards_lvl_reach {
  width: 60%;
}
main #lvl .cards_lvl .cards_lvl_inner:nth-child(3) .cards_lvl_reach {
  width: 30%;
}
main #lvl .cards_lvl .cards_lvl_inner .cards_lvl_reach {
  height: 100%;
  background: var(--gradient);
  border-radius: 10px 0 0 30px;
}
main #lvl .cards_lvl .cards_lvl_inner:hover {
  background: var(--null-invert);
  box-shadow: 5px 5px 10px var(--solid-30);
  scale: 1.05;
}
main #lvl .cards_lvl .cards_lvl_inner:hover .cards_lvl_reach {
  background: var(--gradient-hover);
}
main #lvl .cards_lvl .cards_lvl_inner:hover span {
  color: var(--solid-100);
  font-weight: bold;
  font-size: calc(var(--size) * 1.2);
}
main #lvl .cards_lvl .cards_lvl_inner span {
  color: var(--solid-50);
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
main #portifolio .active {
  z-index: 1;
}
main #portifolio .cards_port_inner {
  width: 100%;
  aspect-ratio: 3/4;
  background: var(--null);
  border-radius: 30px;
  display: grid;
  grid-template-rows: 80% repeat(2, 10%);
  padding: 3%;
}
main #portifolio .cards_port_inner .cards_port_frame {
  background: var(--null-invert);
  border-radius: 20px;
}
main #portifolio .cards_port_inner a {
  text-decoration: none;
  cursor: pointer;
}
main #portifolio .cards_port_inner a:hover {
  font-weight: bold;
}
main #numeros {
  background: var(--gradient);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
main #numeros i {
  font-size: calc(var(--size) * 2.5);
}
main #numeros h3 {
  font-size: calc(var(--size) * 1.5);
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}
main #social span {
  margin: auto;
  background: var(--gradient);
  display: grid;
  place-items: center;
  width: 70px;
  aspect-ratio: 1/1;
  border-radius: var(--radius);
  font-size: calc(var(--size) * 1.9);
  font-weight: bolder;
}
main #social span:hover {
  scale: 1.05;
  box-shadow: 0 0 10px var(--solid-30);
  color: var(--solid-100);
  background: var(--gradient-hover);
}
main #social span:hover i {
  scale: 1.1;
}
main #social p {
  text-align: center;
  color: var(--solid-30);
}
main #social .social_redes {
  display: flex;
  justify-content: space-evenly;
  color: var(--solid-50);
}
main #social .social_redes span {
  width: 60px;
}
main #social .social_redes span i {
  animation: pulse 4s ease infinite;
}
main #social .social_redes span i:hover {
  animation: none;
  cursor: pointer;
}
main #social .social_redes span:nth-child(1) i {
  animation-delay: 0.25s;
}
main #social .social_redes span:nth-child(2) i {
  animation-delay: 0.5s;
}
main #social .social_redes span:nth-child(3) i {
  animation-delay: 0.75s;
}
main #social .social_redes span:nth-child(4) i {
  animation-delay: 1s;
}

footer {
  text-align: center;
}
footer .back {
  position: fixed;
  height: 50px;
  aspect-ratio: 1/1;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */